<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Title:</strong>
    <%= tarefa.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tarefa.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tarefa.user_id %>
  </p>

</div>
