<div id="<%= dom_id terefa %>">
  <p>
    <strong>Title:</strong>
    <%= terefa.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= terefa.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= terefa.user_id %>
  </p>

</div>
